.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  /* font: 400 1em/1.5 "Neuton"; */
  background-image: url("components/images/3.jpg");
  background-repeat:  space;
  background-position: 60% 50%;
  background-attachment: fixed;
  /* transform: rotate(20deg); */
  /* color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    /* width: 100vw; */
    /* overscroll-behavior: none; */
    /* overflow: hidden !important; */
  -webkit-overscroll-behavior: none;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}




.anip {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  /* padding: 5em 0em; */
  /* padding-top: 150px; */
  font-family: 'Montserrat', sans-serif;
  /* position: absolute; */
  /* top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em; */
}
.anispan {
  text-align: center;
  font-weight: bold;
  font-family:  Garamond , sans-serif;
  /* font-size: 130px; */
  letter-spacing: 0;
  /* padding: 0.25em 0 0.325em; */
  display: block;
  /* margin: 0 auto; */
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(components/images/16.jpg) round;
  transform: rotate(0deg);
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  animation: AnimatedText 20s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}



/* Animate Background Image */
@keyframes AnimatedText {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 1000% 0%;
  }
}